/* navbar */
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
}

.navbar .container {
  width: 1200px;
  position: relative;
}

.navbar .container .right {
  position: absolute;
  right: 0;
}

/* jumbotron */
.background {
  background: url(./background.jpg) no-repeat center center;
  background-size: cover;
  padding: 10vw;
  width: 100%;
  height: 450px;
}

.intro {
  width: 1200px;
  margin: 0px auto;
  padding-bottom: 10px;
  color: #f9f9f9;
  top: 150px;
}

.intro p:nth-of-type(2) {
  margin-left: 80px;
}

/* Home */
.container2 {
  text-align: center;
  width: 1200px;
  margin: 30px auto;
}

.col-md-4 {
  padding: 20px;
}

.moreBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -15px auto;
}

.sortBtn {
  margin: 3px;
  margin-top: 15px;
}

.sortBtn:first-of-type{margin-left: 720px;}

@media screen and (max-width: 880px) {
  .col-md-4 {
    width: 50vw;
    height: 50vh;
  }

  .right {
    display: none;
  }
}


/* cart page*/
.table{
  width: 1200px; 
  margin: 70px auto;
  color: #666;
}

.table h1{
  margin: 30px 0;
  color: #333;
}

.table td{padding: 10px;}

.table Button{padding: 5px 10px;}