/* navbar */
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
}

.navbar .container {
  width: 1200px;
  position: relative;
}

.navbar .container .right {
  position: absolute;
  right: 0;
}

/* jumbotron */
.background {
  background: url(./background.jpg) no-repeat center center;
  background-size: cover;
  padding: 10vw;
  width: 100%;
  height: 450px;
}

.intro {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f9f9f9;
}

/* modal */
Form{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

Form .black_back{ /* 모달 - 검정 배경 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  z-index: 100;
}

Form .mb-3, Form Button{
  width: 350px;
  color: #fff;
  position: relative;
  z-index: 200;
}

/* Home */
.container2 {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
}

.col-md-4 {
  padding: 20px;
  cursor: pointer;
}

.moreBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -15px auto;
}

.button_list{ /* 정렬 버튼 리스트 */
  display: flex;
  justify-content: center;
}

.sortBtn {
  margin-top: 10px;
  margin-right: 0.5%;
}



/* cart page*/
.table{
  width: 60%; 
  margin: 70px auto;
  color: #666;
}

.table h1{
  margin: 30px 0;
  color: #333;
}

.table td{padding: 10px;}

.table Button{padding: 5px 10px;}

.btn-cart{
  display: flex;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .right {
    display: none;
  }

  .intro{margin-top: 100px;}

  /* cart */
  .table{width: 90%;}
  
  h1{
    font-size: 25px;
    width: 100px;
  }

}