@mixin alert() {
  background: #fffd93;
  padding: 15px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: 20px auto;
  text-align: center;
}

.my-alert {
  @include alert()
}

.my-alert p {
  margin-bottom: 0;
}

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 0.5s;
}

.detail{
  width: 1200px;
  margin: 100px auto;
}

.info{margin-top: 20px;}

.select_box{
  display: block;
  margin-bottom: 20px;
}