@mixin alert() {
  background: #fffb00;
  padding: 15px;
  border-radius: 5px;
  width: 60%;
  margin: 0 auto;
  margin-top: 8%;
  text-align: center;
}

.my-alert {
  @include alert()
}

.my-alert p {
  margin-bottom: 0;
}

.detail {
  margin-top: 80px;
}

.row {
  margin-bottom: 100px;
}

.col-md-4 img{
  margin-top: 30px;
}

// select box
.select_box {
  display: block;
  margin-bottom: 20px;
}

// 탭 애니메이션 효과
.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 0.5s;
}

// 탭 내용
.tabs {
  margin-top: 5%;
}

.info {
  margin-top: 20px;
}