@mixin alert() {
  background: #fffb00;
  padding: 15px;
  border-radius: 5px;
  width: 60%;
  margin: 0 auto;
  margin-top: 8%;
  text-align: center;
}

.my-alert {
  @include alert()
}

.my-alert p {
  margin-bottom: 0;
}

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 0.5s;
}

.detail {
  margin-top: 30px;
}

.info {
  margin-top: 20px;
}

.select_box {
  display: block;
  margin-bottom: 20px;
}

.tabs {
  margin-top: 5%;
}